body {
    background-color: black;
}

.question {
    margin-top: 50px;
    margin-right: 10px;
}

.keeper-text-stop {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 100%;
    color: white;
    font-size: 6rem;
    text-align: right;

}

.keeper-text-over {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color: white;
    font-size: 5rem;
    text-align: right;

}
.keeper-text-under {
    position: relative;
    width: 100%;
    color: white;
    font-size: 2em;
}


.stand-aside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: paleturquoise;
    font-size: 2.5em;
}

.end-message {
    color: paleturquoise;
    font-size: 8em;
}


.keeper {
    position: relative;
    /* cursor: pointer; */
    max-width: 750px;
    margin-top: 50px;
}

/*initially did an overlay for the image to make it clickable, but decided to go with auto timer instead because it flowed nicely. Keeping this here in case I come back to it!
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .keeper:hover .overlay {
    opacity: .75;
  } */

.quiz-options {
    font-size: 1.5em;
    color: paleturquoise;
    max-width: 750px;
}

.quiz-container {
    max-width: 750px;
}



/* phones */
@media only screen and (max-width: 767px) {
.stand-aside {
    width: 100%;
    color: paleturquoise;
    position: relative;
    font-size: 1.5em;
}


.keeper-text-over {
    position: absolute;
    top: 0;
    right: 5%;
    width: 65%;
    color: white;
    font-size: 4rem;
    text-align: right;

}
.keeper-text-under {
    position: relative;
    padding: 5px;
    width: 100%;
    color: white;
    font-size: 1.5em;
}


.keeper {
    margin-top: 0;
}


.end-message {
    color: paleturquoise;
    font-size: 5em;
}
    
}
